.banner {
  img {
    width: 100%;
  }
}

.title {
  margin-top: 5rem;
}

.info {
  display: flex;
  align-items: center;
  margin-top: 24px;

  >div {
    display: flex;
    align-items: center;

    & + div {
      margin-left: 1.5rem;
    }

    svg {
      margin-right: 0.5rem;
    }
  }
}

.content {
  margin-top: 3.75rem;
  margin-bottom: 2rem;

  .heading {
    margin-bottom: 4rem;
  }

  p, li {
    line-height: 140%;
    text-align: justify;

    & + p, & + ul {
      margin-top: 2rem;
    }
  }

  ul {
    & + p {
      margin-top: 2rem;
    }

    li {
      list-style: inside;
    }
  }

  a {
    color: var(--gray-200);
    text-decoration: inherit;
  }
}

.navigation {
  max-width: 721px;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-between;

  .previous {
    text-align: left;
  }

  .next {
    text-align: right;
  }

  a {
    width: 100%;
    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.8);
    }
  }

  h3 {
    color: var(--pink);
    font-weight: 600;
    margin-top: 0.5rem;
  }
}
